<a href="https://colab.research.google.com/github/leman-cap13/kaggle_datasets_/blob/main/Pandas113.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
color_table = pd.Series(['Red','Black','Purple','Green'])
color_table

In [ ]:
car_table = pd.Series(['BMW','Bugatti','Ford','Lamborghini'])
car_table

In [ ]:
table = pd.DataFrame({'Marque':car_table,'Color':color_table})
table

In [ ]:
!wget https://raw.githubusercontent.com/Rstam59/TaskDataRepoForStudents/refs/heads/main/car-sales.csv

In [ ]:
df= pd.read_csv('car-sales.csv')
df

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
numbers = pd.Series([7,9,11,13,15,21,30,31])
numbers

In [ ]:
numbers.mean()

In [ ]:
numbers.sum()

In [ ]:
df

In [ ]:
df.columns

In [ ]:
len(df)

In [ ]:
df.head(5)

In [ ]:
df.head(7)

In [ ]:
df.tail(5)

In [ ]:
df.head(5)

In [ ]:
df.loc[3]

In [ ]:
df.iloc[5]

In [ ]:
df

In [ ]:
df['Odometer (KM)']

In [ ]:
df['Odometer (KM)'].mean()

In [ ]:
df[df['Odometer (KM)'] > 100000]

In [ ]:
df['Odometer (KM)'] > 100000

In [ ]:
df.groupby(['Make']).mean(numeric_only=True)

In [ ]:
df.groupby(['Make','Doors'])

In [ ]:
df.plot('Price')

In [ ]:
df.hist('Odometer (KM)')

In [ ]:
df

In [ ]:
df['Price']=df['Price'].str.replace('[$/,/.]', '', regex=True)
df

In [ ]:
df['Price'] = df['Price'].astype(int) / 100
df

In [ ]:
df['Make']= df['Make'].str.lower()
df

In [ ]:
df

In [ ]:
!wget https://raw.githubusercontent.com/Rstam59/TaskDataRepoForStudents/refs/heads/main/car-sales-missing-data.csv

In [ ]:
car_sales_missing=pd.read_csv('/content/car-sales-missing-data.csv')
car_sales_missing

In [ ]:
car_sales_missing['Odometer'].mean()

In [ ]:
car_sales_missing['Odometer'].fillna(car_sales_missing['Odometer'].mean())

In [ ]:
car_sales_missing.dropna()

In [ ]:
car_sales_missing.isna()

In [ ]:
car_sales_missing

In [ ]:
pd.crosstab(df['Make'], df["Colour"])

In [ ]:
data = [['0', 'Y', 'N'], ['1', 'Y', 'Y'], ['2', 'N', 'Y'], ['3', 'Y', 'Y'], ['4', 'N', 'N']]
products = pd.DataFrame(data, columns=['product_id', 'low_fats', 'recyclable']).astype({'product_id':'int64', 'low_fats':'category', 'recyclable':'category'})

In [ ]:
products[(products['low_fats'] == 'Y') & (products['recyclable'] == 'Y')][['product_id']]

In [ ]:
data = [[1, 'Will', None], [2, 'Jane', None], [3, 'Alex', 2], [4, 'Bill', None], [5, 'Zack', 1], [6, 'Mark', 2]]
customer = pd.DataFrame(data, columns=['id', 'name', 'referee_id']).astype({'id':'Int64', 'name':'object', 'referee_id':'Int64'})

In [ ]:
customer[(customer['referee_id'] != 2) | (customer['referee_id'].isna())  ]['name']

In [ ]:
data = [['Afghanistan', 'Asia', 652230, 25500100, 20343000000], ['Albania', 'Europe', 28748, 2831741, 12960000000], ['Algeria', 'Africa', 2381741, 37100000, 188681000000], ['Andorra', 'Europe', 468, 78115, 3712000000], ['Angola', 'Africa', 1246700, 20609294, 100990000000]]
world = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp']).astype({'name':'object', 'continent':'object', 'area':'Int64', 'population':'Int64', 'gdp':'Int64'})
world

In [ ]:
world[(world['area'] > 3000000) | (world['population'] > 25000000)][['name','population','area']]

In [ ]:
data = [[1, 3, 5, '2019-08-01'], [1, 3, 6, '2019-08-02'], [2, 7, 7, '2019-08-01'], [2, 7, 6, '2019-08-02'], [4, 7, 1, '2019-07-22'], [3, 4, 4, '2019-07-21'], [3, 4, 4, '2019-07-21']]
views = pd.DataFrame(data, columns=['article_id', 'author_id', 'viewer_id', 'view_date']).astype({'article_id':'Int64', 'author_id':'Int64', 'viewer_id':'Int64', 'view_date':'datetime64[ns]'})
views

In [ ]:
data = [[1, 'Let us Code'], [2, 'More than fifteen chars are here!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})
tweets

In [ ]:
tweets[tweets['content'].str.len()>15] [['tweet_id']]

In [ ]:
data = [[101, 'John', 'A', None], [102, 'Dan', 'A', 101], [103, 'James', 'A', 101], [104, 'Amy', 'A', 101], [105, 'Anne', 'A', 101], [106, 'Ron', 'B', 101]]
employee = pd.DataFrame(data, columns=['id', 'name', 'department', 'managerId']).astype({'id':'Int64', 'name':'object', 'department':'object', 'managerId':'Int64'})
employee

In [ ]:
managers= employee['managerId'].value_counts().reset_index()
manager= managers[managers['count']>=5]['managerId']
employee[employee['id'].isin(manager)][['name']]

In [ ]:
data = [[1, 23], [2, 9], [4, 30], [5, 54], [6, 96], [7, 54], [8, 54]]
visits = pd.DataFrame(data, columns=['visit_id', 'customer_id']).astype({'visit_id':'Int64', 'customer_id':'Int64'})
data = [[2, 5, 310], [3, 5, 300], [9, 5, 200], [12, 1, 910], [13, 2, 970]]
transactions = pd.DataFrame(data, columns=['transaction_id', 'visit_id', 'amount']).astype({'transaction_id':'Int64', 'visit_id':'Int64', 'amount':'Int64'})

In [ ]:
data = [[1, '2015-01-01', 10], [2, '2015-01-02', 25], [3, '2015-01-03', 20], [4, '2015-01-04', 30]]
weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

In [ ]:
 weather = weather.sort_values(by= 'recordDate')
 val = weather.diff()[['recordDate','temperature']]
 weather[(val['recordDate']== '1 days' ) & ( val['temperature'] > 0)]

In [ ]:
data = [[1, 'Alice'], [7, 'Bob'], [11, 'Meir'], [90, 'Winston'], [3, 'Jonathan']]
employees = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'int64', 'name':'object'})
data = [[3, 1], [11, 2], [90, 3]]
employee_uni = pd.DataFrame(data, columns=['id', 'unique_id']).astype({'id':'int64', 'unique_id':'int64'})
employee_uni

In [ ]:
value= pd.merge(employees, employee_uni, on='id',how='left')
value[['unique_id', 'name']]

In [ ]:
data = [[1, 100, 2008, 10, 5000], [2, 100, 2009, 12, 5000], [7, 200, 2011, 15, 9000]]
sales = pd.DataFrame(data, columns=['sale_id', 'product_id', 'year', 'quantity', 'price']).astype({'sale_id':'Int64', 'product_id':'Int64', 'year':'Int64', 'quantity':'Int64', 'price':'Int64'})
data = [[100, 'Nokia'], [200, 'Apple'], [300, 'Samsung']]
product = pd.DataFrame(data, columns=['product_id', 'product_name']).astype({'product_id':'Int64', 'product_name':'object'})
sales

In [ ]:
value=pd.merge(sales, product, on = 'product_id')
value[['product_name', 'year', 'price']]

In [ ]:
data = [[0, 0, 'start', 0.712], [0, 0, 'end', 1.52], [0, 1, 'start', 3.14], [0, 1, 'end', 4.12], [1, 0, 'start', 0.55], [1, 0, 'end', 1.55], [1, 1, 'start', 0.43], [1, 1, 'end', 1.42], [2, 0, 'start', 4.1], [2, 0, 'end', 4.512], [2, 1, 'start', 2.5], [2, 1, 'end', 5]]
activity = pd.DataFrame(data, columns=['machine_id', 'process_id', 'activity_type', 'timestamp']).astype({'machine_id':'Int64', 'process_id':'Int64', 'activity_type':'object', 'timestamp':'Float64'})
activity

In [ ]:
 value = activity.groupby(['machine_id', 'process_id']).mean('timestamp').reset_index()
 value[['machine_id','timestamp' ]].rename(columns={'timestamp': 'processing_time'})

In [ ]:
 end = activity[activity['activity_type']=='end']
 end

In [ ]:
start = activity[activity['activity_type']=='start']
start

In [ ]:
val= pd.merge(start,end,on='machine_id')
matched = val[val['process_id_x'] == val['process_id_y']]
matched['difference'] = matched['timestamp_y'] - matched['timestamp_x']
matched.groupby('machine_id').mean('difference').reset_index()[['machine_id','difference']].rename(columns= {'difference': 'processing_time'})

In [ ]:
data = [[3, 'Brad', None, 4000], [1, 'John', 3, 1000], [2, 'Dan', 3, 2000], [4, 'Thomas', 3, 4000]]
employee = pd.DataFrame(data, columns=['empId', 'name', 'supervisor', 'salary']).astype({'empId':'Int64', 'name':'object', 'supervisor':'Int64', 'salary':'Int64'})
data = [[2, 500], [4, 2000]]
bonus = pd.DataFrame(data, columns=['empId', 'bonus']).astype({'empId':'Int64', 'bonus':'Int64'})
employee

In [ ]:
value= pd.merge(employee,bonus, on='empId', how='left' )
value[(value['bonus'] < 1000) | (value['bonus'].isna())][['name','bonus']]

In [ ]:
data = [[1, 'Alice'], [2, 'Bob'], [13, 'John'], [6, 'Alex']]
students = pd.DataFrame(data, columns=['student_id', 'student_name']).astype({'student_id':'Int64', 'student_name':'object'})
data = [['Math'], ['Physics'], ['Programming']]
subjects = pd.DataFrame(data, columns=['subject_name']).astype({'subject_name':'object'})
data = [[1, 'Math'], [1, 'Physics'], [1, 'Programming'], [2, 'Programming'], [1, 'Physics'], [1, 'Math'], [13, 'Math'], [13, 'Programming'], [13, 'Physics'], [2, 'Math'], [1, 'Math']]
examinations = pd.DataFrame(data, columns=['student_id', 'subject_name']).astype({'student_id':'Int64', 'subject_name':'object'})

students

In [ ]:
value= pd.merge(students,examinations, on= 'student_id', how = 'left')
value

In [ ]:
t = value.groupby(['student_id', 'student_name', 'subject_name']).size().reset_index()
t

In [ ]:
l= pd.merge(t,students, on = 'student_id', how= 'right')
l

In [ ]:
data = [[3, '2020-03-21 10:16:13'], [7, '2020-01-04 13:57:59'], [2, '2020-07-29 23:09:44'], [6, '2020-12-09 10:39:37']]
signups = pd.DataFrame(data, columns=['user_id', 'time_stamp']).astype({'user_id':'Int64', 'time_stamp':'datetime64[ns]'})
data = [[3, '2021-01-06 03:30:46', 'timeout'], [3, '2021-07-14 14:00:00', 'timeout'], [7, '2021-06-12 11:57:29', 'confirmed'], [7, '2021-06-13 12:58:28', 'confirmed'], [7, '2021-06-14 13:59:27', 'confirmed'], [2, '2021-01-22 00:00:00', 'confirmed'], [2, '2021-02-28 23:59:59', 'timeout']]
confirmations = pd.DataFrame(data, columns=['user_id', 'time_stamp', 'action']).astype({'user_id':'Int64', 'time_stamp':'datetime64[ns]', 'action':'object'})

In [ ]:
value = pd.merge(signups, confirmations, on = 'user_id', how='left' )
value.groupby('user_id').value_counts().reset_index()

In [ ]:
es= value[value['action']=='confirmed'].value_counts().reset_index()
es

In [ ]:
count_total = confirmations.groupby('user_id')['action'].count().reset_index(name = 'total')
count_total

In [ ]:
df=signups[["user_id"]].merge(confirmations[["user_id", "action"]],on= "user_id", how="left" )
df

In [ ]:
df= signups[['user_id']].merge(confirmations[['user_id','action']], on= 'user_id', how= 'left')
df

In [ ]:

output=df[df['action'] =='confirmed'].value_counts().reset_index().rename(columns={'count': 'confirmed_count'}).merge(count_total, on='user_id')
output['confirmation_rate']= output['confirmed_count']/output['total']
output[['user_id', 'confirmation_rate']]

In [ ]:
data = [[1, 'War', 'great 3D', 8.9], [2, 'Science', 'fiction', 8.5], [3, 'irish', 'boring', 6.2], [4, 'Ice song', 'Fantacy', 8.6], [5, 'House card', 'Interesting', 9.1]]
cinema = pd.DataFrame(data, columns=['id', 'movie', 'description', 'rating']).astype({'id':'Int64', 'movie':'object', 'description':'object', 'rating':'Float64'})
cinema[(cinema['id'] % 2 != 0) & ( cinema['description'] != 'boring') ].sort_values('rating', ascending=False)

In [ ]:
data = [[1, '2019-02-17', '2019-02-28', 5], [1, '2019-03-01', '2019-03-22', 20], [2, '2019-02-01', '2019-02-20', 15], [2, '2019-02-21', '2019-03-31', 30]]
prices = pd.DataFrame(data, columns=['product_id', 'start_date', 'end_date', 'price']).astype({'product_id':'Int64', 'start_date':'datetime64[ns]', 'end_date':'datetime64[ns]', 'price':'Int64'})
data = [[1, '2019-02-25', 100], [1, '2019-03-01', 15], [2, '2019-02-10', 200], [2, '2019-03-22', 30]]
units_sold = pd.DataFrame(data, columns=['product_id', 'purchase_date', 'units']).astype({'product_id':'Int64', 'purchase_date':'datetime64[ns]', 'units':'Int64'})
merged= prices.merge(units_sold, on='product_id', how = 'left')
merged

In [ ]:
mat= units_sold.groupby('product_id').sum('units').reset_index().rename(columns = {'units': 'sum_units'})
mat

In [ ]:
prices['output']=prices['price'] * units_sold['units']
result = prices.groupby('product_id').sum('output').reset_index().merge(mat,on='product_id')
result['average_price']= (result['output'] / result['sum_units']).round(2)
result[['product_id' , 'average_price']]

In [ ]:
data = [[1, 1], [1, 2], [1, 3], [2, 1], [2, 4]]
project = pd.DataFrame(data, columns=['project_id', 'employee_id']).astype({'project_id':'Int64', 'employee_id':'Int64'})
data = [[1, 'Khaled', 3], [2, 'Ali', 2], [3, 'John', 1], [4, 'Doe', 2]]
employee = pd.DataFrame(data, columns=['employee_id', 'name', 'experience_years']).astype({'employee_id':'Int64', 'name':'object', 'experience_years':'Int64'})
merged=pd.merge(project, employee, on= 'employee_id')
merged.groupby('project_id').mean('experience_years').round(2).reset_index().rename(columns={'experience_years' : 'average_years'})[['project_id','average_years']]

In [ ]:
data = [[6, 'Alice'], [2, 'Bob'], [7, 'Alex']]
users = pd.DataFrame(data, columns=['user_id', 'user_name']).astype({'user_id':'Int64', 'user_name':'object'})
data = [[215, 6], [209, 2], [208, 2], [210, 6], [208, 6], [209, 7], [209, 6], [215, 7], [208, 7], [210, 2], [207, 2], [210, 7]]
register = pd.DataFrame(data, columns=['contest_id', 'user_id']).astype({'contest_id':'Int64', 'user_id':'Int64'})
users['user_id'].count()

In [ ]:
register.groupby('contest_id').count().reset_index().rename(columns={'user_id' : 'count_user_id'})/ users['user_id'].count().round(2)

In [ ]:
output= register.groupby('contest_id').count().reset_index().rename(columns={'user_id' : 'count_user_id'})
output['percentage'] = ((output['count_user_id']/users['user_id'].count())*100.0).round(2)
output[['contest_id','percentage']].sort_values('contest_id').sort_values('percentage', ascending=False)

In [ ]:
data = [['Dog', 'Golden Retriever', 1, 5], ['Dog', 'German Shepherd', 2, 5], ['Dog', 'Mule', 200, 1], ['Cat', 'Shirazi', 5, 2], ['Cat', 'Siamese', 3, 3], ['Cat', 'Sphynx', 7, 4]]
queries = pd.DataFrame(data, columns=['query_name', 'result', 'position', 'rating']).astype({'query_name':'object', 'result':'object', 'position':'Int64', 'rating':'Int64'})
queries

In [ ]:
queries['percentage']=(queries['rating'] / queries['position'])
output= queries.groupby('query_name').sum('percentage').round(2).reset_index()
output

In [ ]:
a['poor_query_percentage'] = ((b['count']/c['size'])*100.0).round(2)
a

In [ ]:
cem= queries.groupby('query_name').size().to_frame('size').reset_index()
a=output.merge(cem,on ='query_name')
a['quality'] = (a['percentage']/ a['size']).round(2)
a[['query_name', 'quality', 'poor_query_percentage']]

In [ ]:
b=queries[queries['rating']<3].value_counts().reset_index()
b

In [ ]:
c= queries.groupby('query_name').size().to_frame('size').reset_index()
c

In [ ]:
a['poor_query_percentage'] = ((b['count']/c['size'])*100.0).round(2)
a

In [ ]:
data = [[121, 'US', 'approved', 1000, '2018-12-18'], [122, 'US', 'declined', 2000, '2018-12-19'], [123, 'US', 'approved', 2000, '2019-01-01'], [124, 'DE', 'approved', 2000, '2019-01-07']]
transactions = pd.DataFrame(data, columns=['id', 'country', 'state', 'amount', 'trans_date']).astype({'id':'Int64', 'country':'object', 'state':'object', 'amount':'Int64', 'trans_date':'datetime64[ns]'})
transactions

In [ ]:
transactions[transactions['state']=='approved'].groupby('country').sum('amount').reset_index()

In [ ]:
transactions[transactions['state']=='approved'].value_counts()

In [ ]:
transactions[transactions['state']=='declined'].value_counts()

In [ ]:
transactions['month'] = pd.to_datetime(transactions['trans_date']).dt.strftime('%Y-%m')

In [ ]:
transactions

In [ ]:
transactions['state'] = transactions['state'].str.replace('approved', '1').replace('declined', '0')
transactions['state'] = transactions['state'].astype(int)

In [ ]:
transactions

In [ ]:
transactions['approved_total_amount'] = transactions['amount'] * transactions['state']

In [ ]:
transactions

In [ ]:
transactions['month'] =  pd.to_datetime(transactions['trans_date']).dt.strftime('%Y-%m')
transactions

In [ ]:
data = [[1, 1, '2019-08-01', '2019-08-02'], [2, 2, '2019-08-02', '2019-08-02'], [3, 1, '2019-08-11', '2019-08-12'], [4, 3, '2019-08-24', '2019-08-24'], [5, 3, '2019-08-21', '2019-08-22'], [6, 2, '2019-08-11', '2019-08-13'], [7, 4, '2019-08-09', '2019-08-09']]
delivery = pd.DataFrame(data, columns=['delivery_id', 'customer_id', 'order_date', 'customer_pref_delivery_date']).astype({'delivery_id':'Int64', 'customer_id':'Int64', 'order_date':'datetime64[ns]', 'customer_pref_delivery_date':'datetime64[ns]'})
delivery

In [ ]:
delivery['immediate']=delivery['order_date']==delivery['customer_pref_delivery_date']
delivery

In [ ]:
df=delivery.groupby('customer_id').min().reset_index()
df

In [ ]:
df1 = df[df["order_date"]==df["customer_pref_delivery_date"]]
df1

In [ ]:
pd.DataFrame({'immediate_percentage': [(len(df1)/len(df))*100.0]}).round(2)

In [ ]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-03-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [ ]:
activity

In [ ]:
pd.DataFrame({'fraction':[(len(activity[activity.diff()['event_date']=='1 days']) / (len(activity['player_id'].unique())))]}).round(2)

In [ ]:
data = [[1, 2, 3], [1, 2, 4], [1, 3, 3], [2, 1, 1], [2, 2, 1], [2, 3, 1], [2, 4, 1]]
teacher = pd.DataFrame(data, columns=['teacher_id', 'subject_id', 'dept_id']).astype({'teacher_id':'Int64', 'subject_id':'Int64', 'dept_id':'Int64'})
teacher

In [ ]:
teacher.groupby('teacher_id')['subject_id'].nunique().reset_index()

In [ ]:
DF= teacher.groupby('teacher_id').nunique().reset_index()
DF[['teacher_id','subject_id']].rename(columns= {'subject_id': 'cnt'})

In [ ]:
data = [[1, 1, '2019-07-20', 'open_session'], [1, 1, '2019-07-20', 'scroll_down'], [1, 1, '2019-07-20', 'end_session'], [2, 4, '2019-07-20', 'open_session'], [2, 4, '2019-07-21', 'send_message'], [2, 4, '2019-07-21', 'end_session'], [3, 2, '2019-07-21', 'open_session'], [3, 2, '2019-07-21', 'send_message'], [3, 2, '2019-07-21', 'end_session'], [4, 3, '2019-06-25', 'open_session'], [4, 3, '2019-06-25', 'end_session']]
activity = pd.DataFrame(data, columns=['user_id', 'session_id', 'activity_date', 'activity_type']).astype({'user_id':'Int64', 'session_id':'Int64', 'activity_date':'datetime64[ns]', 'activity_type':'object'})
activity

In [ ]:
res= activity.groupby('activity_date')['user_id'].nunique().reset_index()
res[(res['activity_date']>'2019-06-27') & ( res['activity_date']<='2019-07-27')].rename(columns={'user_id':'active_users', 'activity_date': 'day'})

In [ ]:
data = [[1, 100, 2008, 10, 5000], [2, 100, 2009, 12, 5000], [7, 200, 2011, 15, 9000]]
sales = pd.DataFrame(data, columns=['sale_id', 'product_id', 'year', 'quantity', 'price']).astype({'sale_id':'Int64', 'product_id':'Int64', 'year':'Int64', 'quantity':'Int64', 'price':'Int64'})
data = [[100, 'Nokia'], [200, 'Apple'], [300, 'Samsung']]
product = pd.DataFrame(data, columns=['product_id', 'product_name']).astype({'product_id':'Int64', 'product_name':'object'})
sales

In [ ]:
product

In [ ]:
merged= pd.merge(sales,product,on='product_id')
merged1=merged.groupby('product_id').min('year').reset_index().rename(columns={'year': 'first_year'})
merged1[['product_id', 'first_year', 'quantity','price']]

In [ ]:
data = [['A', 'Math'], ['B', 'English'], ['C', 'Math'], ['D', 'Biology'], ['E', 'Math'], ['F', 'Computer'], ['G', 'Math'], ['H', 'Math'], ['I', 'Math']]
courses = pd.DataFrame(data, columns=['student', 'class']).astype({'student':'object', 'class':'object'})
courses

In [ ]:
css= courses.groupby('class')['student'].nunique().reset_index()
css[css['student']>=5][['class']]

In [ ]:
data = [['0', '1'], ['1', '0'], ['2', '0'], ['2', '1']]
followers = pd.DataFrame(data, columns=['user_id', 'follower_id']).astype({'user_id':'Int64', 'follower_id':'Int64'})
followers

In [ ]:
followers.groupby('user_id')['follower_id'].nunique().reset_index().rename(columns={'follower_id': 'followers_count'})

In [ ]:
data = [[8], [8], [3], [3], [1], [4], [5], [6]]
my_numbers = pd.DataFrame(data, columns=['num']).astype({'num':'Int64'})
my_numbers

In [ ]:
df= my_numbers.value_counts().reset_index()
df1= df[df['count']==1]
df1[df1['num']==df1['num'].max()][['num']]

In [ ]:
my_numbers.drop_duplicates(keep = False).max().to_frame('num')

In [ ]:
data = [[1, 5], [2, 6], [3, 5], [3, 6], [1, 6]]
customer = pd.DataFrame(data, columns=['customer_id', 'product_key']).astype({'customer_id':'Int64', 'product_key':'Int64'})
data = [[5], [6]]
product = pd.DataFrame(data, columns=['product_key']).astype({'product_key':'Int64'})
customer

In [ ]:
product

In [ ]:
merged=pd.merge(customer,product,on='product_key')
merged

In [ ]:
merged1= merged.groupby('customer_id')['product_key'].nunique().reset_index()
merged1[merged1['product_key']==len(product['product_key'])][['customer_id']]

In [ ]:
data = [[9, 'Hercy', None, 43], [6, 'Alice', 9, 41], [4, 'Bob', 9, 36], [2, 'Winston', None, 37]]
employees = pd.DataFrame(data, columns=['employee_id', 'name', 'reports_to', 'age']).astype({'employee_id':'Int64', 'name':'object', 'reports_to':'Int64', 'age':'Int64'})

In [ ]:
employees

In [ ]:
df= employees[employees['employee_id'].isin(employees['reports_to'])][['employee_id','name']]
df

In [ ]:
df1= employees.groupby('reports_to').mean('age').reset_index()
df1

In [ ]:
merged=pd.merge(df,df1,left_on='employee_id',right_on='reports_to')
a=merged[['employee_id_x','name','age']].rename(columns={'employee_id_x':'employee_id','age':'average_age'})
a

In [ ]:
df2=employees.groupby('reports_to').nunique().reset_index()
b= df2[['reports_to','employee_id']].rename(columns={'employee_id':'reports_count','reports_to':'employee_id'}).merge(a,on='employee_id')
b[['employee_id','name','reports_count','average_age']]

In [ ]:
data = [['1', '1', 'N'], ['2', '1', 'Y'], ['2', '2', 'N'], ['3', '3', 'N'], ['4', '2', 'N'], ['4', '3', 'Y'], ['4', '4', 'N']]
employee = pd.DataFrame(data, columns=['employee_id', 'department_id', 'primary_flag']).astype({'employee_id':'Int64', 'department_id':'Int64', 'primary_flag':'object'})
employee

In [ ]:
df=employee[employee['primary_flag']=='Y'][['employee_id','department_id']]
df

In [ ]:
df1=employee.groupby('employee_id').nunique('primary_flag').reset_index()
df1[df1['primary_flag']==1][['employee_id','department_id']]

In [ ]:
employee=employee[(~employee.duplicated(subset='employee_id', keep=False))|(employee.primary_flag=="Y")]
employee[['employee_id', 'department_id']]

In [ ]:
data = [[13, 15, 30], [10, 20, 15]]
triangle = pd.DataFrame(data, columns=['x', 'y', 'z']).astype({'x':'Int64', 'y':'Int64', 'z':'Int64'})
triangle

In [ ]:
triangle['triangle']=(triangle['x']+triangle['y']>triangle['z']) & (triangle['x']+triangle['z']>triangle['y'])& (triangle['z']+triangle['y']>triangle['x'])
triangle['triangle']=triangle['triangle'].astype(str).replace({'False':'No','True':'Yes'})
triangle

In [ ]:
data = [[1, 1], [2, 1], [3, 1], [4, 2], [5, 1], [6, 2], [7, 2]]
logs = pd.DataFrame(data, columns=['id', 'num']).astype({'id':'Int64', 'num':'Int64'})
logs

In [ ]:
df=logs[(logs['num'] == logs['num'].shift(1) ) & ((logs['num'] == logs['num'].shift(2)))]
df[['num']].rename(columns={'num':'ConsecutiveNums'})

In [ ]:
data = [[1, 20, '2019-08-14'], [2, 50, '2019-08-14'], [1, 30, '2019-08-15'], [1, 35, '2019-08-16'], [2, 65, '2019-08-17'], [3, 20, '2019-08-18']]
products = pd.DataFrame(data, columns=['product_id', 'new_price', 'change_date']).astype({'product_id':'Int64', 'new_price':'Int64', 'change_date':'datetime64[ns]'})
products

In [ ]:
products.drop_duplicates('product_id')

In [ ]:
products_new=products[products['change_date'] <= '2019-08-16']
products_new

In [ ]:
pn=products_new.sort_values('change_date').groupby('product_id').tail(1)
pn1=pn[['product_id','new_price']].rename(columns={'new_price':'price'})
pn1

In [ ]:
pan=products.drop_duplicates('product_id')
pan[pan['change_date']>'2019-08-16'][['product_id','new_price']].rename(columns={'new_price':'price'})

In [ ]:
z=products[['product_id']]
z=products.drop_duplicates('product_id')
az=z[['product_id','new_price']].rename(columns={'new_price':'price'})
az

In [ ]:
pn1.merge(az,how='left')

In [ ]:
products_new =  products[products['change_date'] <= '2019-08-16']
products_new = products_new.sort_values(by='change_date').groupby(by=['product_id']).tail(1)
products_new = products_new.rename(columns = {'new_price': 'price'})

productID = products[['product_id']]
productID = productID.drop_duplicates(subset=['product_id']) #get distinct productID table

df = productID.merge(products_new, how='left').fillna(10)

df[['product_id', 'price']]

In [ ]:
products_new =  products[products['change_date'] <= '2019-08-16']
products_new = products_new.sort_values(by='change_date').groupby(by=['product_id']).tail(1)
products_new = products_new.rename(columns = {'new_price': 'price'})
products_new

In [ ]:
productID = products[['product_id']]
productID = productID.drop_duplicates(subset=['product_id'])
productID

In [ ]:
df = productID.merge(products_new, how='left').fillna(10)
df

In [ ]:
df[['product_id', 'price']]

In [ ]:
data = [[5, 'Alice', 250, 1], [4, 'Bob', 175, 5], [3, 'Alex', 350, 2], [6, 'John Cena', 400, 3], [1, 'Winston', 500, 6], [2, 'Marie', 200, 4]]
queue = pd.DataFrame(data, columns=['person_id', 'person_name', 'weight', 'turn']).astype({'person_id':'Int64', 'person_name':'object', 'weight':'Int64', 'turn':'Int64'})
queue

In [ ]:
queue=queue.sort_values('turn',ascending=True)
queue

In [ ]:
queue['sum']=queue['weight'].cumsum()
queue[queue['sum']<=1000].tail(1)[['person_name']]

In [ ]:
data = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
accounts = pd.DataFrame(data, columns=['account_id', 'income']).astype({'account_id':'Int64', 'income':'Int64'})
accounts

In [ ]:
accounts['category']=accounts['income'].map(lambda x: 'Low Salary' if x < 20000 else ('Average Salary' if  20000 < x <50000 else 'High Salary'))
accounts

In [ ]:
accounts.groupby('category').size().to_frame('accounts_count').reset_index()

In [ ]:
data = [[3, 'Mila', 9, 60301], [12, 'Antonella', None, 31000], [13, 'Emery', None, 67084], [1, 'Kalel', 11, 21241], [9, 'Mikaela', None, 50937], [11, 'Joziah', 6, 28485]]
employees = pd.DataFrame(data, columns=['employee_id', 'name', 'manager_id', 'salary']).astype({'employee_id':'Int64', 'name':'object', 'manager_id':'Int64', 'salary':'Int64'})

In [ ]:
employees

In [ ]:
df=employees[~employees['manager_id'].isin(employees['employee_id'])].dropna()
df[df['salary']<30000][['employee_id']].sort_values('employee_id')

In [ ]:
data = [[1, 'Abbot'], [2, 'Doris'], [3, 'Emerson'], [4, 'Green'], [5, 'Jeames']]
seat = pd.DataFrame(data, columns=['id', 'student']).astype({'id':'Int64', 'student':'object'})
seat

In [ ]:
seat['value']= seat['id'].map(lambda x:'odd' if x%2!=0 else 'even')
seat=seat[['id','student','value']]
seat

In [ ]:
seat[seat['value']=='even'].shift()

In [ ]:
data = [[1, 2, '2016/06/03'], [1, 3, '2016/06/08'], [2, 3, '2016/06/08'], [3, 4, '2016/06/09']]
request_accepted = pd.DataFrame(data, columns=['requester_id', 'accepter_id', 'accept_date']).astype({'requester_id':'Int64', 'accepter_id':'Int64', 'accept_date':'datetime64[ns]'})
request_accepted

In [ ]:
df = request_accepted['requester_id'].to_frame(name='id')
df

In [ ]:
df1 = request_accepted['accepter_id'].to_frame(name='id')
df1

In [ ]:
combined = pd.concat([df, df1])
combined

In [ ]:
combined = combined.groupby('id').size().reset_index(name='num')
combined

In [ ]:
combined[combined['num'] == combined['num'].max()]

In [ ]:
data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})
employee

In [ ]:
max_salary=employee['salary'].max()
max_salary

In [ ]:
emp=employee[employee['salary'] != employee['salary'].max()]
pd.DataFrame({'SecondHighestSalary' : [emp['salary'].max()]})

In [ ]:
!wget https://raw.githubusercontent.com/Rstam59/TaskDataRepoForStudents/refs/heads/main/heart-disease.csv

In [ ]:
df= pd.read_csv('heart-disease.csv')
df

In [ ]:
import matplotlib.pyplot as plt
df['target'].value_counts().plot(kind='bar');

In [ ]:
df.hist(figsize=(10,10));

In [ ]:
df['age'].hist(bins=20);

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
fig,ax=plt.subplots(figsize=(10,6))
scatter=ax.scatter(x=df['age'],y=df['chol'],c=df['target'])
ax.set(title='heart disease and chol levels',xlabel='age',ylabel='chol');

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("hmavrodiev/london-bike-sharing-dataset")

print("Path to dataset files:", path)

In [ ]:
lon_df=pd.read_csv(path + '/london_merged.csv')
lon_df

In [ ]:
lon_df['timestamp']= pd.to_datetime(lon_df['timestamp'])
lon_df['timestamp']

In [ ]:
lon_df

In [ ]:
w=lon_df.groupby(['is_weekend'])['cnt'].mean()
plt.bar(['weekday','weekend'],w.values);

In [ ]:
h=lon_df.groupby(['is_holiday'])['cnt'].mean()
plt.bar(['working','vacation'],h.values);

In [ ]:
lon_df['timestamp'].dt.hour.value_counts()

In [ ]:
lon_df.groupby(lon_df['timestamp'].dt.hour)['cnt'].mean().plot(kind='bar',figsize=(10,6));

In [ ]:
lon_df.groupby(lon_df['timestamp'].dt.month) ['cnt'].mean().plot(kind='bar', figsize=(10,6));

In [ ]:
s= lon_df.groupby('season')['cnt'].mean()
plt.pie(labels=['spring','summer','autumn','winter'],x=s.values, autopct='%.2f%%');

In [ ]:
import seaborn as sns

c=lon_df[['cnt','t1','hum']].corr()
sns.heatmap(c,annot=True,cmap='coolwarm');

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("START-UMD/gtd")

print("Path to dataset files:", path)

In [ ]:
df = pd.read_csv(path + '/globalterrorismdb_0718dist.csv', encoding='latin-1')
df

In [ ]:
suicide_indicator= df.groupby('iyear')['suicide'].count()
plt.plot(suicide_indicator);

In [ ]:
extended_value=df.groupby('iyear')['extended'].sum()
plt.hist(extended_value);

In [ ]:
fig,ax=plt.subplots(figsize=(10,6))
scatter=ax.scatter(x=df['nperps'],y=df['country_txt'])
ax.set(title='number of terrorist participating',xlabel='nperps',ylabel='country');

In [ ]:
cn = df.groupby(['country_txt'])['nperps'].sum()
cn

In [ ]:
df['nperps'].value_counts()

In [ ]:
cn = df.groupby(['country_txt'])['nperps'].sum().plot(kind = 'bar')
# ax.set(title='number of terrorist participating',xlabel='nperps',ylabel='country');

In [ ]:
pd.set_option('display.max_columns', None)
df

In [ ]:
df1=df[['country','country_txt','iyear','attacktype1_txt','weaptype1_txt','attacktype1']]
df1

In [ ]:
import numpy as np
val= df1.groupby('country_txt')['attacktype1'].sum()
fig,ax=plt.subplots(figsize=(10,6))
plt.hist(val)
ax.set(title='total number of attacks over country',ylabel='country_txt',xlabel='attacktype1');
plt.xticks(np.arange(0, 8000, step=1), labels=[str(i**2) for i in range(8000)])

In [ ]:
df1.groupby(df1['country_txt']).nunique('weaptype1_txt')

In [ ]:
z=df[(df['imonth']==1) & (df['iday']==13)]
z

In [ ]:
t=z.groupby('country_txt').sum('nperps').reset_index()
tl=t[['country_txt','nperps']]
tl

In [ ]:
fig,ax=plt.subplots(figsize=(10,6))
plt.hist(tl)
ax.set(title='total number of terrorist over country',ylabel='country',xlabel='nperps');

In [ ]:
df[['latitude','longitude','country_txt']]

In [ ]:
lat=df[(df['latitude']>30) & (df['latitude']<50)]
lat1=lat.groupby('iyear')['attacktype1_txt'].count().reset_index()
# lat1

In [ ]:
fig,ax=plt.subplots(figsize=(10,7))
plot=ax.plot(lat1);
ax.set(title='attack count over years', xlabel='year',ylabel='count attack');

In [ ]:
lat2=df[(df['latitude']>50) & (df['latitude']<90)]
lat3=lat2.groupby('iyear')['attacktype1_txt'].size().reset_index()
# lat3

In [ ]:
fig,ax=plt.subplots(figsize=(10,7))
plot=ax.plot(lat3);
ax.set(title='attack count over years', xlabel='year',ylabel='count attack');

In [ ]:
lat4=df[(df['latitude']>0) & (df['latitude']<30)]
lat5=lat4.groupby('iyear')['attacktype1_txt'].count().reset_index()

In [ ]:
fig,ax=plt.subplots(figsize=(10,7))
plot=ax.plot(lat5);
ax.set(title='attack count over years', xlabel='year',ylabel='count attack');

In [ ]:

fig,ax=plt.subplots(figsize=(10,7))
plot=ax.plot(lat1, label = "30-50 lat");


plot=ax.plot(lat3, label = '50-90 lat');

plot=ax.plot(lat5, label = '0-30 lat');
ax.set(title='attack count over years', xlabel='year',ylabel='count attack');

ax.legend()